
header{
    background: #1f53f1;
    align-items: center;
    color: #fff;
    padding-left: 20px;
    height: 50px;
}

.content{
    justify-content: center;
    text-align: center;
    height: calc(100vh - 50px);
    flex-direction: row;
}
.form-group{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.content input{
    max-width: 400px;
    height: 35px;
    line-height: 50px;
}
.content .btn{
    margin: 15px 0;
}


.content .searchui{
    border-left: 1px solid #666;
}
